@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Captain';
    src: url(fontes/American\ Captain.otf) format(opentype), url(fontes/American\ Captain.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1: #FF4B3E;
    --cor2: #FBD1A2;
    --cor3: #db3e32;

    --titulo: 'Captain', Arial;
    --comum: "Open Sans", serif;
    --base: 'Bebas Neue', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor2);
    font-family: var(--comum);
}

header {
    background-image: linear-gradient(to bottom, #c7392f, #FF4B3E);
    height: 200px;
    text-align: center;
    color: white;
}

header > h1 {
    letter-spacing: 1px;
    font-family: var(--titulo);
    font-size: 3.5em;
    padding-top: 62px;
    text-shadow: 1px 1px 1px black;
}

header > p {
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

nav {
    background-color: var(--cor3);
    padding: 15px;
    text-align: center;
}

nav > a {
    font-family: var(--comum);
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 15px;
}

nav > a:hover {
    text-decoration: underline;
    background-color: var(--cor1);
    transition-duration: 0.25s;
}

main {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}

main > #titulo {
    background-color: #ee0f0f;
    margin: -20px -20px 0px -20px;
}

main #tituloimg {
    background-color: #ee0f0f;
    display: block;
    margin: auto;
}

main > h1 {
    font-family: var(--base);
    font-size: 2.7em;
    color: white;
    background-color: #ee0f0f;
    margin: -20px -20px 0px -20px;
    padding: 20px;
}

main > h2 {
    font-family: var(--base);
    font-size: 2.2em;
    color: #ee0f0f;

}

main > p {
    padding: 15px 0px 15px 0px;
    line-height: 35px;
}